body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgray;
    height: 100%;
}
.header {
    display: block;
    background-color: lightgray;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    height: 300px;
    background-color:khaki;
    text-align: center;
}
p {
    width: 800px;
    height: 80px;
}
.flex-element {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    height: 70px;
    background-color:goldenrod;
    text-align: center;
    margin: 5px;
    line-height: 70px;
}
.flex-element-2 {
    width: 770px;
    height: 70px;
    background-color:goldenrod;
    text-align: center;
    margin: 5px;
    line-height: 70px;
}
.side-part {
    background-color: lightgreen;
    width: 40%;
    height: 300px;
    text-align: center;
    line-height: 100px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:lightgray;
    width: 100%;
    height: 150px;
}
.box {
    background-color: white;
    text-align: center;
    margin: 15px;
    padding: 50px;
    font-size: 14px;
}